body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1px;
    text-align: center;
}

h2 {
    margin: 0;
}

.section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.propsTexto {
    p {
        text-decoration: underline;
        text-transform: capitalize;
    }
    
    blockquote {
        font-style: italic;
        color: #666;
        padding: 10px;
        border-left: 4px solid #ccc;
        margin: 0;
        background-color: #f1f1f1;
    }
}

.propsCaja {
    #caja1 {
        margin-bottom: 10px;
        border: 1px black solid;
        border-radius: 4px;
        padding: 10px 20px;
        box-shadow: 4px 4px 5px #666;
    }
    #caja2 {
        background-color: rgb(255, 219, 151);
        border: 2px black solid;
        border-radius: 4px;
        padding: 10px 20px;
        box-shadow: 4px 4px 5px #666;
    }
}

.propsRelAbs {
    .relativo {
        position: relative;
        padding: 15px;
        background-color: #e0f7fa;
        margin-bottom: 20px;
    }
    .absoluto {
        position: absolute;
        background-color: #00897b;
        border-radius: 4px;
        color: white;
        padding: 5px;
        top: 50px;
        right: 40px;
    }
}

.propsGrid {  
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }

    .grid-item {
        background-color: #a19cff;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
    }
}

.propsAnim {  
    .animacion {
        width: 100px;
        height: 100px;
        background-color: red;
        margin-bottom: 5px;
        transition: opacity 2s ease;
        &:hover {
            opacity: 0%;
        }
    }

    .mover {
        width: 100px;
        height: 100px;
        background-color: green;
        border-radius: 50%;
        animation: moveLeftRight 2s infinite alternate;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: gray;
    }
    p, h1, h2, blockquote {
        font-size: xx-small;
    }
}

@keyframes moveLeftRight {
    from { transform: translateX(0); }
    to { transform: translateX(200px); }
}
